body {background-color: powderblue;}
h1 {color: #CE93D8;}
p {color: black;}
 
#main {background-image: url('https://payload.cargocollective.com/1/1/45879/1004075/DESIGN-07_1024.jpg '); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; width:1000px; height:900px; color: #E3F2FD;
}
